body {
  background: #fdf6e3;
  color: #002b36;
  font-family: "Courier New", Courier, monospace;
}

body a {
  text-decoration: none;
}

header {
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
  background: #eee8d5;
  text-align: center;
}

article {
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
}

footer {
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
  background: #eee8d5;
  text-align: center;
}

@media (max-width: 1000px) {
  header {
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
  }

  article {
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
  }

  footer {
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
  }
}

article p code, pre {
  background: #eee8d5;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  color: #6c71c4;
}

pre {
  padding: 10px;
  border-radius: 5px;
  color: #586e75;
}

article a, footer a{
  color: #d33682;
  font-weight: bold;
}
article a:hover, footer a:hover{
  color: #2aa198;
  font-weight: bold;
}

article thead th{
  border-bottom: 1px solid #586e75;
  color: #586e75;
}

article th, article td {
  text-align: left;
  padding: 5px;
}

article em, article i {
  color: #cb4b16;
}


h1 {
  color: #586e75;
}

h4 {
  color: #93a1a1;
  font-weight: 1pt;
  font-size: 12pt;
  font-style: italic;
}
